@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

*, *:before, *:after {
    box-sizing: border-box;
}

#chat-container {
    width: 100%;
    max-width: 600px;
    height: 90vh;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #007bff;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.hamburger-menu span {
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
}

.options-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
}

.options-menu.show {
    display: block;
    opacity: 1;
    visibility: visible;
}
.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #f5f5f5;
}

#ad-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#messages {
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.message {
    max-width: 75%;
    padding: 12px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    margin-right: 10px;
}

.message.bot {
    background-color: #f0f0f0;
    color: black;
    align-self: flex-start;
    margin-left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#typing-container {
    display: none;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#typing-text {
    font-size: 0.8em;
    color: #555;
    margin-right: 5px;
}

.typing-indicator {
    display: flex;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
}

.input-group {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-top: 1px solid #ddd;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#message-input {
    flex-grow: 2; /* Increase the flex-grow value to make the input box larger */
    padding: 15px; /* Increase padding for a larger input area */
    border: 1px solid #ddd;
    border-radius: 18px;
    font-size: 16px;
    min-height: 50px;
    resize: none;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-right: 10px;
}

#message-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(50, 50, 250, 0.5);
}

#send-button {
    padding: 10px 15px; /* Adjust padding to make the button smaller */
    flex-shrink: 0; /* Prevent the button from shrinking */
    width: auto; /* Adjust the width */
    min-width: 80px; /* Set a minimum width */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 8px rgba(50, 50, 250, 0.5);
}


@media (max-width: 768px) {
    #chat-container {
        height: 90vh;
        width: 95%;
        margin: 0 auto;
    }
}

#personaSelection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 340px;
    border: 1px solid #eaeaea;
}

#personaDropdown {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#personaSelection.show {
    display: flex;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay-content {
    position: relative;
    top: 25%;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
}

#threadsList {
    text-align: left;
    margin-top: 20px;
}

.thread-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.thread-item input {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .options-menu {
        position: static;
        display: none;
    }

    .hamburger-menu.active + .options-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        color: black;
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 100%;
    }
}
